@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}



body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  color: rgba(51, 51, 51, 1);
  background-color: rgba(242, 242, 242, 1);
  border-color: #FFFFFF;
  margin-top: 0px;
}

.page-header{
  background-color: rgba(255, 255, 255, 1);
}
.navigation-link{
  font-weight: 700;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}
.navition-link{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(117, 97, 87, 1);


}
.zogolovok{
  background-image: url("../images/Vector-index.svg"), url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;

}
.advantages-leag{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}
.reasons{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: rgba(51, 51, 51, 1);
}
.advantages-h3{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.advantages-text{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 1);
}
.advantages-it-1{
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
}
.advantages-text-1{
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
}
.advantages-it-2{
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-it-3{
  background-color: rgba(131, 179, 211, 0.2);
}
.advantages-it-4{
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-it-5{
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
}
.services-Btext{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.services-text{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: rgba(51, 51, 51, 1);
}
.services-h3{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
}
.services-p{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.services-it{
  background-color: rgba(131, 179, 211, 0.12);
}
.container-h3{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}
.container-text{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
.container-poisk a{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(117, 97, 87, 1);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
.signature{
  background-image: url("../images/fon-bottom.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.signature-h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}
.signature-p{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.signature-catalog-h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}
.signature-catalog-p{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}
.signature-button{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);
}
.contacts-phone{
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
/*Стили каталога*/
.div-filter{
  background-image: url("../images/background-img2.jpg");
  color: rgba(255, 255, 255, 1);
}
.inner-nav-h1{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;

}
.inner-nav-list a{
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
/*кнопки в фильре каталога*/
.buttom-ok{
  font-family: PT Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);
}
.buttom-reset{
  font-family: PT Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  background-color: inherit;
  border: none;
}

.gelleri-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
/*Католог*/
.catalog-list a{
  text-decoration: none;
}
.catalog-h3{
  font-family: PT Sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.catalog-p1{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.catalog-p2{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

}
.catalog-a{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(117, 97, 87, 1);
  text-transform: uppercase;
}
.catalog-input{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
}
.rating{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: rgba(242, 242, 242, 1);
  border: none;
}
/*кнопки листания галереи*/
.pagination-list a{
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: rgba(130, 179, 211, 1);
  color: rgba(242, 242, 242, 1);
}
.signature-button{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
}
