@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}



body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  color: rgba(51, 51, 51, 1);
  background-color: rgba(242, 242, 242, 1);
  border-color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 0px;
}

.logo-svg {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}
.logo{
  margin-left: 70px;
}
.page-container {
  width: 1200px;
  margin: 0 auto;

}

.page-header{
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 0px;
}
.main-inner{
  margin-left: auto;
  margin-right: auto;
}
.main-index{
  margin-bottom: 0px;
}
.navigation{
  width: 1200px;
  height: 64px;
  display: flex;
  margin-bottom: 0px;

}
.navigation-link{
  font-weight: 700;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;

}
.navigation-it{
  margin: 20px 16px;


}
.navigation-bottom {
  width: 160px;
  height: 36px;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  margin-left: 20px;
  margin-top: 14px;
  border-radius: 3px;
  border: 0px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(117, 97, 87, 1);

}
.navigation-list{
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  width: 339px;
  height: 64px;
  list-style-type: none;

}

.navigation-user{
  display: flex;
  justify-content: flex-start;
  width: 88px;
  height: 64px;
  margin-top: 0px;
  margin-left: 245px;
  list-style-type: none;

}
.navigation-user-it1{
  width: 44px;
  height: 64px;
  padding-bottom: 10px;
}
.navigation-user-it{
  width: 44px;
  height: 64px;
  padding: 22px 11px;
}
.likes-number{
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  border-radius: 18px;
  margin-left: 10px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 3px;
  padding-bottom: 4px;
  background-color: rgba(125, 181, 79, 1);
  color: rgba(255, 255, 255, 1);
}


.zogolovok{
  background-image: url("../images/Vector-index.svg"), url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;


}

.advantages-white-background{
  width: 1200px;
  height: 281px;
  background-color: rgba(255, 255, 255, 1);
  margin-top: 0px;
}
.advantages-leag{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding-top: 69px;
  margin-top: 0px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}
.reasons{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;

  color: rgba(51, 51, 51, 1);
}

.advantages-h3{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

}
.advantages-text-1{
  margin-top: 0px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.advantages-text{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
}
.advantages-it-1{
  display: flex;
  width: 1200px;
  height: 385px;
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
}
.advantages-span{
  width: 400px
}
.advantages-h3{
  text-transform: uppercase;
  text-align: center;
  margin-top: 112px;
  margin-bottom: 62px;
}
.advantages-h3-most{
  margin-top: 102px;
  margin-bottom: 62px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

}
.visually-hidden{
  padding-top: 0px;
  margin-top: 0px;
}

.advantages-list{
  display: flex;
  width: 1200px;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
}
.advantages-it-2{
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-it-3{
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 0.2);
}
.advantages-it-4{
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-it-5{
  display: flex;
  justify-content: flex-start;
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
}
.invitation{
  width: 1200px;
  height: 246px;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 0px;

}

.services-Btext{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  padding-top: 64px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  text-transform: uppercase;
}
.services-text{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 64px;
  text-align: center;

  color: rgba(51, 51, 51, 1);
}
.services-list{
  display: flex;
  width: 1200px;
  height: 385px;
  margin-top: 0px;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  list-style-type: none;
}
.services-it-food{
  background-color: rgba(255, 255, 255, 1);
  width: 400px;
  height: 385px;
}
.services-it{
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
}


.services-h3{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
}
.services-p{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.services-svg{
  padding-left: 163px;
  padding-top: 81px;

}
.container{
  width: 1200px;
  height: 406px;
  margin-top: 0px;
  background-color: rgba(255, 255, 255, 1);
}
.container-h3{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding-top: 96px;
  margin-top: 0px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}
.container-text{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 60px;
}
.container-poisk a{
  width: 376px;
  border-radius: 3px;
  padding: 12px 50px;
  margin-left: 412px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(117, 97, 87, 1);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
.signature{
  height: 415px;
  background-image: url("../images/fon-bottom.jpg");
  background-size: 1200px 800px;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  padding: 0px;
}
.signature-h2{
  margin-top: 0px;
  padding-top: 96px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}
.signature-p{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.signature-catalog-h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}
.signature-catalog-p{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}
.signature-form{
  margin-top: 54px;
  height: 52px;

}
.signature-input{
  width: 428px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: auto;
  margin-left: 258px;
  padding-left: 20px;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 4px;
  border: 0px;
}
.signature-button{
  font-family: PT Sans;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  width: 232px;
  height: 52px;
  margin-top: 0px;
  margin-left: 0px;
  text-align: center;
  border-radius: 3px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);

}
.input_field{
  width: 452px;
  height: 51px;
  margin-right: 0px;
  margin-left: 258px;
  margin-top: 54px;
  margin-bottom: 104px;
}
.signature-form{
  display: flex;
}
.contacts-phone{
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
/*Стили каталога*/

.div-filter{
  width: 1200px;
  height: 412px;
  background-image: url("../images/background-img2.jpg");
  background-size: 1200px 412px;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 1);
  margin-left: 0px;
  margin-right: auto;
}
.inner-nav-h1{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0px;
  padding-top: 35px;
  margin-left: 70px;
  margin-bottom: 0px;
}
.inner-nav-list{
  margin-top: 8px;
  margin-left: 30px;
}
.inner-nav-list a{
  color: rgba(255, 255, 255, 1);
  text-decoration: none;

}
.page-header{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/*кнопки в фильре каталога*/

.buttom-div{
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-left: 65px;

}
.buttom-ok{
  font-family: PT Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);
  width: 196px;
  height: 36px;
  margin-top: 6px;
  border-radius: 4px;
  border: 0px;

}
.buttom-reset{
  font-family: PT Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  background-color: inherit;
  border: none;
  width: 191px;
  height: 36px;
  margin-top: 30px;
}


/*Католог*/
.catalog-filter-list{
  width: 151px;
  height: 130px;
  list-style-type: none;
}
.catalog-filter-title{
  padding-left: 48px;
  margin-bottom: 16px;
  padding-top: 20px;
  padding-bottom: 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

}
#pool {
  transform:scale(1.7);
  opacity:0.9;
  cursor:pointer;
  margin-right: 10px;
  padding-left: 0px;
}
.catalog-filter-diopozon{
  margin-left: 140px;
  padding-left: 0px;
  padding-right: 0px;
  border: 0px;
}

.catalog-filter-title-diopozon{
  padding-left: 0px;
  padding-top: 20px;
  margin-bottom: 25px;
  padding-bottom: 0px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

}
.catalog-filter-diopozon-range{
  margin-top: 40px;
  width: 280px;
}
.catalog-form{
  display: flex;
}
.inner-nav-list{
  display: flex;
  list-style-type: none;


}
.catalog-filter-item{
  width: 150px;
  margin-top: 15px;
  padding-left: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;

}
.catalog-filter-group{
  border: 0px;
}
.catalog-filter-diopozon-form1{
  width: 137px;
  height: 42px;
  margin-left: 5px;
  margin-top: 5px;
  font-size: 16px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 0px;
}
.catalog-filter-diopozon-form2{
  width: 137px;
  height: 42px;
  margin-top: 5px;
  font-size: 16px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 0px;
}
.catalog_div{
  display: flex;
  flex-direction: column;
}
.gelleri-filter{
  width: 1060px;
  height: 49px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding-top: 50px;
  margin-bottom: 40px;
}
.gelleri-title{
  width: 438px;
  height: 36px;
  text-transform: uppercase;
  margin-right: 0px;
  margin-top: 6px;
  margin-bottom: auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

}
.gelleri-main{
  background-color: rgba(255, 255, 255, 1) ;
}
.variants{
  width: 292px;
  height: 49px;
  padding-left: 16px;
  margin-top: 2px;
  margin-left: 100px;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border-radius: 4px;

  font-family: PT Sans;


}
.gelleri-view-list{
  margin-top: auto;
  margin-bottom: auto;
  margin-top: 2px;
  padding-left: 0px;
  margin-left: 70px;
  width: 160px;
  height: 48px;
  display: flex;
  Gap: 4px;
  list-style-type: none;
}
.gelleri-view-it{
  width: 34px;
  height: 16px;
  gap: 10px;
  padding-top: 14px;
  padding-right: 12px;
  padding-bottom: 14px;
  padding-left: 14px;
  border-radius: 4px;
  border-width: 2px;
  border: 2px solid rgba(229, 229, 229, 1);
}
.inner-nav{
  width: 1200px;
}
.inner-nav-it{
  padding-right: 28px;
}
.catalog-list{
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 18px;
  border-bottom: 2px solid;
  border-color: rgba(229, 229, 229, 1);
  padding-bottom: 40px;
  list-style-type: none;


}
.catalog-it{
  width: 340px;
  height: 438px;
  border-radius: 4px;
  border: 1px solid rgba(230, 230, 230, 1);

}
.hotel-img{
  margin: 20px;
  margin-bottom: 0px;
}
.catalog-list a{
  text-decoration: none;
}
.catalog-h3{
  height: 28px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
}
.catalog-p1-p2{
  display: flex;


}
.catalog-p1{
  margin-left: 20px;
  margin-top: 14px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
}
.catalog-p2{
  padding-left: 143px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  cursor: rgba(51, 51, 51, 1);
  margin-top: 14px;
  margin-bottom: 0px;
}
.catalog-a-input{
  display: flex;
  margin-top: 16px;
  margin-left: 20px;
}
.catalog-a{
  text-align: center;
  padding-top: 8px;
  padding-bottom: auto;
  width: 140px;
  height: 28px;
  font-weight: 630;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(117, 97, 87, 1);
  border-radius: 4px;
  text-transform: uppercase;
}
.catalog-input{
  width: 140px;
  height: 36px;
  border-radius: 4px;
  margin-left: 20px;
  font-weight: 630;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
}
.four-stars-rating{
  display: flex;
  width: 300px;
  height: 37px;
  margin-top: 16px;
  margin-left: 20px;

}
.rating{
  text-transform: uppercase;
  width: 140px;
  height: 28px;
  margin-top: 0px;
  margin-left: 55px;
  padding-top: 9px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 4px;
  line-height: 20px;
  text-align: center;
  color: rgba(51, 51, 51, 1);
  background-color: rgba(242, 242, 242, 1);
  border: none;
}
/*кнопки листания галереи*/
.pagination-ul{
  width: 1060px;
  height: 0px;
  margin-top: 40px;
  padding-bottom: 60px;
  margin-left: 50px;
  margin-right: auto;

}
.pagination-list a{
  border-radius: 4px;
  padding-left: 0px;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: rgba(242, 242, 242, 1);

}
.pagination-list{

  width: 400px;
  height: 60px;
  display: flex;
  padding-left: 13px;
  list-style-type: none;

}
.pagination-it{
  background-color: rgba(130, 179, 211, 1);
  padding: 12px 24px;
  width: 12px;
  height: 36px;
  border-radius: 4px;
  margin-left: 8px;

}
.signature-catalog{
  background-color: rgba(255, 255, 255, 1);
  width: 1200px;
  height: 475px;

}
.signature-catalog-h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  padding-top: 156px;
  margin-top: 0px;

}
.signature-catalog-p{
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: rgba(51, 51, 51, 1);
}

.signature-button{
  margin-top: auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
}
.main-footer{
  display: flex;
  margin: 0px auto;
  width: 1200px;
  height: 120px;
  background-color: rgba(255, 255, 255, 1);
}
.main-footer-list{
  width: 142px;
  height: 40px;
  display: flex;
  margin-top: 45px;
  margin-bottom: 35px;
  margin-left: 70px;
  padding-left: 0px;
  padding-top: 0px;
  list-style-type: none;

}
.main-footer-it{
  margin-top: auto;
  padding-bottom: 0px;
  padding-left: 12px;
  width: 47px;

}
.academy-logo{
  margin-left: 235px;
  margin-top: 48px;
  margin-right: 70px;
  margin-bottom: auto;

}
.contacts-phone{
  margin-top: 45px;
  margin-left: 236px;
}
